*.pyc
.tox/
settings.yml
*~

cloned-projects/
builder-private/
builder-private-example/
custom-vagrant/

.vagrant*
payload.tar.gz
stacks/*.json
*.orig
*.log
venv/*
*.swp
.cfn/
logs/*
private/*
packer/*
!packer/*-meta.json
packer_cache/*
downloads
.coverage
projects/*/
scripts/customize.sh
scripts/salt/*.minion
/custom-vagrant/salt/
/custom-vagrant/pillar/

.no-install-basebox.flag
.no-vagrant-s3auth.flag
.no-delete-venv.flag
