*.pyc
.tox/
/build/
/.pytest_cache/
settings.yml
*~

cloned-projects/
builder-private/
builder-private-example/
custom-vagrant/

.vagrant*
payload.tar.gz
stacks/*.json
*.orig
*.log
venv/
*.swp
.cfn/
logs/
public/
private/
downloads
.coverage.*
.coverage
projects/*/
scripts/customize.sh
scripts/salt/*.minion
/custom-vagrant/salt/
/custom-vagrant/pillar/
/etc-salt-master.template
/etc-salt-master

.*.flag
