*.pyc
.tox/
cloned-projects/*
settings.yml
*~
.vagrant*
payload.tar.gz
stacks/*.json
*.orig
*.log
venv/*
*.swp
.cfn/
logs/*
private/*
packer/*
!packer/*-meta.json
packer_cache/*
downloads
.coverage
projects/*/
scripts/customize.sh

.no-install-basebox.flag
.no-vagrant-s3auth.flag
.no-delete-venv.flag
