# settings file for the Builder project
# see `projects/example.yaml` for per-organisation settings

## feature: enable/disable writing of ec2 build context to s3
## this helps when starting/stopping instances and updating dns records
write-context-to-s3: False

## feature: enable/disable writing of ec2 keypairs to s3
write-keypairs-to-s3: True

## where to look for organisation project data
## from these interfaces a list of organisations and their projects are made available

project-locations:
    # 'projects' directory (relative to this builder instance)
    - ./projects/elife.yaml
    ## specific file
    ##- ./projects/example.yaml
    ## path relative to user's home directory that will be expanded
    ##- ~/dev/python/builder/
    ## remote instance of builder's API requiring server access
    ##- ssh://master.elifesciences.org/projects/
    ## remote public instance of builder (not recommended)
    ##- https://master.elifesciences.org/projects/
