[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
backoff = "~=1.5"
boto3 = "~=1.6"
deepmerge = "~=1.1"
"kids.cache" = "==0.0.7"
netaddr = "~=0.7.19"
python-dateutil = "~=2.7"
python-slugify = "~=1.2"
# lsh@2023-06: python-terraform is in a bad way.
# it's no longer maintained and it's most recent release didn't make it to pypi.
#python-terraform = "~=0.10"
# lsh@2023-07: dda-python-terraform is a fork of python-terraform
#python-terraform = {editable = false, ref = "0.14.0", git = "https://github.com/beelit94/python-terraform.git"}
# lsh@2023-07: fix for bug available outside of release tag
#dda-python-terraform = "~=2.1.1"
dda-python-terraform = {git = "https://gitlab.com/domaindrivenarchitecture/dda-python-terraform.git", editable = false, ref = "3fd4a72d"}
pytz = "*"
PyYAML = "~=6.0.1"
"ruamel.yaml" = "==0.17.*"
requests = "~=2.32"
threadbare = "~=4.0"
# doesn't follow semver, features removed in 3.2.0
troposphere = "==3.1.1"
# transitive from python-slugify. not semver.
Unidecode = "==1.2.*"

[dev-packages]
ruff = "*"
pytest = "~=7.3"
pytest-cov = "~=4.1"
coverage = "~=7.2"
moto = {extras = ["rds"], version = "~=3.1"}
# lsh@2023-02-17: dependency of moto, CVE-2023-25577
Werkzeug = ">=2.2.3"
