# file generated 2023-06-12 - see update-dependencies.sh
astroid==2.15.5
attrs==23.1.0
autopep8==1.7.0
backoff==1.11.1
boto==2.49.0
boto3==1.26.151
botocore==1.29.151
certifi==2023.5.7
cffi==1.15.1
cfn-flip==1.3.0
charset-normalizer==3.1.0
click==8.1.3
coverage==4.5.4
cryptography==41.0.1
deepmerge==1.1.0
dill==0.3.6
exceptiongroup==1.1.1
gevent==22.10.2
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jmespath==1.0.1
kids.cache==0.0.7
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
moto==3.1.16
netaddr==0.7.20
packaging==23.1
parallel-ssh==2.12.0
platformdirs==3.5.3
pluggy==1.0.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==2.5.0
pylint==2.17.4
pytest==7.2.2
pytest-cov==2.5.1
pytest-forked==0.2
python-dateutil==2.8.2
python-slugify==1.2.6
python-terraform==0.10.1
pytz==2023.3
PyYAML==5.4.1
requests==2.31.0
responses==0.23.1
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
six==1.16.0
ssh-python==1.0.0
ssh2-python==1.0.0
-e git+https://github.com/elifesciences/threadbare.git@6dbe1d2ec6b977054bde7d22b10510af8804ef28#egg=threadbare
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
troposphere==3.1.1
types-PyYAML==6.0.12.10
typing_extensions==4.6.3
Unidecode==1.2.0
urllib3==1.26.16
Werkzeug==2.3.6
wrapt==1.15.0
xmltodict==0.13.0
zope.event==4.6
zope.interface==6.0
