# file generated 2020-11-24 - see update-dependencies.sh
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
backoff==1.10.0
bcrypt==3.2.0
boto==2.49.0
boto3==1.16.24
botocore==1.19.24
certifi==2020.11.8
cffi==1.14.3
cfn-flip==1.2.3
chardet==3.0.4
click==7.1.2
coverage==4.5.4
cryptography==3.2.1
decorator==4.4.2
Fabric3==1.14.post1
gevent==20.9.0
greenlet==0.4.17
idna==2.10
importlib-metadata==3.1.0
importlib-resources==3.3.0
ipython==5.10.0
ipython-genutils==0.2.0
isort==5.6.4
jmespath==0.10.0
kids.cache==0.0.7
lazy-object-proxy==1.4.3
linecache2==1.0.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.3.0
netaddr==0.7.20
parallel-ssh==1.9.1
paramiko==2.7.2
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==1.0.18
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.5.2
pylint==2.6.0
PyNaCl==1.4.0
pytest==3.10.1
pytest-cov==2.5.1
pytest-forked==0.2
python-dateutil==2.8.1
python-slugify==1.2.6
python-terraform==0.10.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
s3transfer==0.3.3
simplegeneric==0.8.1
six==1.15.0
ssh2-python==0.23.0
toml==0.10.2
traceback2==1.4.0
traitlets==4.3.3
troposphere==2.6.3
typed-ast==1.4.1
Unidecode==1.1.1
unittest2==1.1.0
urllib3==1.26.2
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
