# only used in Vagrant

file_client: local

# default is warn
log_level: info

fileserver_backend:
    - roots

file_roots:
    base:
        - /vagrant/custom-vagrant/salt/
        #- /vagrant/cloned-projects/builder-base-formula/ # provided by Vagrant
        - /project/salt/

pillar_roots:
    base:
        - /vagrant/custom-vagrant/pillar/
        #- /vagrant/cloned-projects/builder-base-formula/pillar/  # provided by Vagrant
        - /project/salt/pillar/
