file_client: local

# default is warn
log_level: info

fileserver_backend:
    - roots

file_roots:
    base:
        - /srv/custom/salt/
        #- /vagrant/cloned-projects/builder-base-formula/ # provided by Vagrant
        - /srv/salt/

pillar_roots:
    base:
        - /srv/custom/pillar/
        #- /vagrant/cloned-projects/builder-base-formula/pillar/  # provided by Vagrant
        - /srv/pillar
